.title-main{
    text-align: center;
}
.destaque{
    color: #0000ff;
}
.sobre-nos{
    font-size: 18px;
    background-color: #0000ff;
    color: #ffffff;
}
.texto-final{
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}